<h1>HOME</h1>

<div class="home-top">
  <div class="temperature-container">
    <div class="temperature">
      <p class="label">気温</p>
      <p class="value"><%= @temperature %> ℃</p>
    </div>
  </div>
  <div class="unhealthy-count-container">
    <div class="unhealthy-count">
      <p class="label">体調不良疑いの人数</p>
      <p class="value"><%= @unhealthy_count %> 人</p>
    </div>
  </div>
</div>


<!-- 中部 -->
<div class="home-middle">
  <div class="top-performers">
    <h2>作業者一覧</h2>
    <table>
      <thead>
        <tr>
          <th>作業者名</th>
          <th>パフォーマンス更新日</th>
        </tr>
      </thead>
      <tbody>
        <% @top_performers.each do |performer| %>
          <tr>
            <td><%= performer[:name] %></td>
            <td><%= performer[:latest_performance_date] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="unhealthy-performers">
    <h2>体調不良一覧</h2>
    <table>
      <thead>
        <tr>
          <th>作業者名</th>
          <th>問題のある運動数</th>
        </tr>
      </thead>
      <tbody>
        <% @unhealthy_performers.each do |performer| %>
          <tr>
            <td><%= performer[:name] %></td>
            <td><%= performer[:low_z_count] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<!-- 下部 -->
<div class="home-bottom">
  <h2>元気ランキング</h2>
  <table>
    <thead>
      <tr>
        <th>順位</th>
        <th>作業者名</th>
        <th>平均値</th>
      </tr>
    </thead>
    <tbody>
      <% @healthy_ranking.each_with_index do |performer, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= performer[:name] %></td>
          <td><%= performer[:average_value].round(2) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


